# OSX finder and svn
.DS_Store
.svn
.settings

# IntelliJ
soundcloud-android.ipr
soundcloud-android.iws
app/gen-external-apklibs/
tests-integration/gen-external-apklibs/
classes/
.idea
*.iml
out
tmp
gen
lint_files

# Keystore
ks/

# Vim
*.swp

# Ant
local.properties
build.xml
soundcloud_sign

# Prefs
com.soundcloud.android_preferences.xml
com_crashlytics_export_strings.xml

# SBT
project/boot
project/plugins/project/
target

# Gradle
.gradle
.gradletasknamecache
build

# Test data
tests-*.sqlite
coverage-error.log

# Properties
app/src/main/res/values/app_properties*.xml
app/src/androidTest/res/values/test_properties.xml

# JEnv
.java-version

# Crashlytics build product
crashlytics-build.properties
.repository
tests-integration/res/values/test_properties.xml
reports

# Heap dumps
captures
nimbledroid.properties

# MrLoggerLogger
app/src/androidTest/res/com/soundcloud/android/framework/helpers/mrlogga/log/

# Mobile Test Runner
results
htmlTemplates

# Credentials
client_secrets.json
release.properties
version_database.properties
c2dm.credentials
reg_ids.yaml
