# OS X Finder and svn
.DS_Store
.svn
.settings

# output folders
bin/
gen/
lib/

# keystore
ks/

# idea
.idea
*.iml
out
tmp

#eclipse
.classpath

#vim
*.swp

# ant
local.properties

soundcloud_sign

#prefs
com.soundcloud.android_preferences.xml
#sbt
project/boot
project/plugins/project/
target
lib_managed
src_managed

c2dm.credentials
