# OS X Finder and svn
.DS_Store
.svn
.settings

# output folders
bin/
gen/

# keystore
ks/

# idea
.idea
*.iml
out
tmp

# ant
local.properties

test
tests/classes
tests/reports

lib-proguard/out
soundcloud_sign
