<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.soundcloud.android"
      android:versionName="1.2.1"
      android:installLocation="auto"
      android:versionCode="14">

    <application android:icon="@drawable/launcher"
      android:label="@string/app_name"
      android:theme="@style/ScLight"
      android:configChanges="keyboard|keyboardHidden"
      android:name="SoundCloudApplication">
        <provider android:name=".provider.ScContentProvider"
                  android:authorities="com.soundcloud.android.providers.ScContentProvider"/>

        <activity android:name=".activity.Main"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

             <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".activity.auth.Login" android:label="@string/app_name" />
        <activity android:name=".activity.auth.SignUp" android:label="@string/app_name" />
        <activity android:name=".activity.auth.AddInfo" android:label="@string/app_name" />
        <activity android:name=".activity.auth.Recover" android:label="@string/app_name" />

        <activity android:name=".activity.Connect"
            android:label="Connect"
            android:configChanges="orientation|keyboardHidden">

            <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="soundcloud" android:host="auth" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.Dashboard" >
            <intent-filter>
                <!-- not used anymore, but there are still some shortcuts around -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".activity.Main"/>
        </activity>

        <activity android:name=".activity.ScSearch"/>
        <activity android:name=".activity.Settings" android:label="Settings"/>
        <activity android:name=".activity.ScPlayer" android:label="SoundCloud Player" android:launchMode="singleTop" >
            <meta-data android:name="android.app.default_searchable" android:value=".activity.Main"/>
        </activity>
        <activity android:name=".activity.UserBrowser" android:label="Profile">
            <meta-data android:name="android.app.default_searchable" android:value=".activity.Main"/>
        </activity>
        <activity android:name=".activity.EmailPicker" android:theme="@style/ScDark"/>
        <activity android:name=".activity.LocationPicker"/>
        <activity android:name=".activity.EmailConfirm"/>
        <activity android:name=".activity.ScCreate">
            <meta-data android:name="android.app.default_searchable" android:value=".activity.Main"/>
        </activity>
        <activity android:name=".activity.ScUpload" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="audio/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name=".service.CloudPlaybackService"
                 android:exported="true">
          <intent-filter>
            <action android:name=".service.CloudPlaybackService" />
          </intent-filter>
        </service>

        <service
            android:name=".service.CloudCreateService"
            android:exported="true">
            <intent-filter>
                <action android:name=".service.ICloudCreateService" />
            </intent-filter>
        </service>

        <service android:name=".service.AuthenticatorService"
                 android:exported="true"
                 android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator"/>
        </service>

        <activity android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"/>

        <receiver android:label="SoundCloud Player"
                  android:name=".service.PlayerAppWidgetProvider">
          <intent-filter>
              <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          </intent-filter>

          <meta-data android:name="android.appwidget.provider"
                     android:resource="@xml/widget_player" />
        </receiver>

        <receiver android:label="SoundCloud Recorder"
              android:name=".service.RecordAppWidgetProvider">

             <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_record" />
        </receiver>

        <!-- headphone remote control -->
        <receiver android:name=".service.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.intent.action.ACTION_AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
    </application>

    <!-- Used for install referrer tracking -->
    <receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver"
              android:exported="true">
        <intent-filter>
          <action android:name="com.android.vending.INSTALL_REFERRER" />
        </intent-filter>
    </receiver>

    <supports-screens android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
</manifest>
