<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.soundcloud.android"
      android:versionName="2.7.0"
      android:installLocation="auto"
      android:versionCode="73">

    <supports-screens android:anyDensity="true"/>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- needed for pre 2.2: automatic call muting -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <!-- allows non-flash, non-autofocus devices to use app -->
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- allows non-flash, non-location enabled devices to use the app -->
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <!-- c2dm -->
    <permission android:name="com.soundcloud.android.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.soundcloud.android.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application android:allowBackup="true"
                 android:configChanges="orientation|keyboardHidden|keyboard"
                 android:debuggable="true"
                 android:hardwareAccelerated="true"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:logo="@drawable/actionbar_logo"
                 android:name="SoundCloudApplication"
                 android:theme="@style/Theme.SoundCloud">

        <activity android:name=".activity.Launch" android:noHistory="true" android:theme="@style/Theme.SoundCloud.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/side_menu_stream" android:name=".activity.MainActivity" android:theme="@style/Theme.SoundCloud"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.STREAM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_LIKES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


            <intent-filter android:priority="10" android:label="@string/side_menu_stream">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:path="/stream" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/stream" android:scheme="https"/>
            </intent-filter>

            <!-- TODO -->
            <intent-filter android:priority="10" android:label="@string/side_menu_explore">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:path="/explore" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/explore" android:scheme="https"/>
            </intent-filter>

        </activity>

        <!-- activities -->
        <activity android:name=".activity.ResolveActivity" android:noHistory="true" android:theme="@style/Theme.SoundCloud.NoActionBar" android:windowSoftInputMode="adjustPan">

            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:scheme="http"/>
                <data android:host="soundcloud.com" android:scheme="https"/>
                <data android:host="snd.sc" android:scheme="http"/>
                <data android:host="snd.sc" android:scheme="https"/>
                <data android:host="m.soundcloud.com" android:scheme="http"/>
                <data android:host="m.soundcloud.com" android:scheme="https"/>
            </intent-filter>

            <!-- kee this separate, if combined with above, Android accepts ALL urls -->
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="soundcloud"/>
            </intent-filter>

            <intent-filter android:priority="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="soundcloud"/>
            </intent-filter>

        </activity>

        <activity android:label="@string/title_search" android:name=".activity.landing.ScSearch">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud/search_item"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:path="/search" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/search" android:scheme="https"/>
                <data android:host="soundcloud.com" android:path="/search/sounds" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/search/sounds" android:scheme="https"/>
                <data android:host="soundcloud.com" android:path="/search/people" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/search/people" android:scheme="https"/>
                <data android:host="soundcloud.com" android:path="/search/sets" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/search/sets" android:scheme="https"/>
                <data android:host="soundcloud.com" android:path="/search/groups" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/search/groups" android:scheme="https"/>
                <data android:host="soundcloud.com" android:path="/people/search" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/people/search" android:scheme="https"/>
                <data android:host="soundcloud.com" android:path="/tracks/search" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/tracks/search" android:scheme="https"/>
                <data android:host="soundcloud.com" android:path="/groups/search" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/groups/search" android:scheme="https"/>
            </intent-filter>
        </activity>


        <activity android:name=".activity.ExploreTracksCategoryActivity"/>

        <activity android:label="@string/side_menu_activity" android:name=".activity.landing.News">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:label="" android:name=".activity.landing.You" android:theme="@style/Theme.SoundCloud.NoBg">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOU"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_INFO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_SOUNDS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_FOLLOWERS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_FOLLOWINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- new suggested users -->
        <activity android:label="" android:name=".activity.landing.SuggestedUsersActivity" android:theme="@style/Theme.Onboard"/>
        <activity android:label="" android:name=".activity.landing.SuggestedUsersCategoryActivity" android:theme="@style/Theme.Onboard"/>
        <activity android:label="" android:name=".activity.landing.SuggestedUsersSyncActivity" android:theme="@style/Theme.Onboard"/>

        <!-- old suggested users -->
        <activity android:label="@string/side_menu_who_to_follow" android:name=".activity.landing.WhoToFollowActivity">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.WHO_TO_FOLLOW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:path="/people" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/people" android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation" android:label="@string/side_menu_friend_finder" android:name=".activity.landing.FriendFinder">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.FRIEND_FINDER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity android:exported="true" android:label="@string/app_name" android:name=".activity.auth.OnboardActivity" android:theme="@style/Theme.ScAuth" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="orientation" android:label="@string/app_name" android:name=".activity.auth.Recover" android:theme="@style/Theme.ScAuth"/>
        <activity android:name=".activity.auth.FacebookSwitcherActivity" android:theme="@style/Theme.SoundCloud.NoActionBar"/>
        <activity android:configChanges="orientation" android:label="@string/app_name" android:name=".activity.auth.FacebookWebFlow" android:theme="@style/Theme.SoundCloud.NoActionBar"/>
        <activity android:name=".activity.auth.FacebookSSO" android:theme="@style/Theme.SoundCloud.NoActionBar"/>

        <activity android:configChanges="orientation|keyboardHidden" android:label="Connect" android:name=".activity.auth.Connect" android:theme="@style/Theme.SoundCloud.NoActionBar">
        </activity>

        <activity android:label="@string/title_now_playing" android:launchMode="singleTask" android:name=".activity.PlayerActivity" android:theme="@style/Theme.SoundCloud" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.PLAYER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- play with content uri, e.g. ME_STREAM -->
            <intent-filter>
                <action android:name="com.soundcloud.android.action.PLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.soundcloud.android.provider.ScContentProvider" android:scheme="content"/>
            </intent-filter>


            <!-- play with playlist uri -->
            <intent-filter>
                <action android:name="com.soundcloud.android.action.PLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.soundcloud.android.provider.ScContentProvider" android:scheme="content"/>
                <data android:mimeType="vnd.soundcloud.playable/playlist"/>
            </intent-filter>

            <!-- play with track extra -->
            <intent-filter>
                <action android:name="com.soundcloud.android.action.PLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.landing.Home"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud.playable/track"/>
            </intent-filter>
        </activity>

        <activity android:label="" android:name=".activity.UserBrowser" android:theme="@style/Theme.SoundCloud.NoBg">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.USER_BROWSER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud/user"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/side_menu_record" android:launchMode="singleTask" android:name=".activity.create.ScCreate" android:theme="@style/Theme.ScCreate">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.RECORD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.RECORD_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.RECORD_STOP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:path="/upload" android:scheme="http"/>
                <data android:host="soundcloud.com" android:path="/upload" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.create.UploadMonitor" android:theme="@style/Theme.SoundCloud.NoActionBar">
            <intent-filter>
                <action android:name="com.soundcloud.android.actions.upload.monitor"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.soundcloud/recording"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.create.ScUpload" android:theme="@style/Theme.ScCreate" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="audio/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.soundcloud.android.SHARE"/>
                <!--<data android:mimeType="audio/*"/>-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.track.TrackInteractionActivity"/>
        <activity android:name=".activity.track.TracksByTag"/>

        <activity android:launchMode="singleTop" android:name=".activity.track.PlaylistDetailActivity">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.PLAYLIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.soundcloud.playable/playlist"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud.playable/playlist"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.track.PlaylistInteractionActivity"/>

        <!-- settings -->
        <activity android:label="@string/title_settings" android:name=".activity.settings.Settings" android:theme="@style/Theme.SoundCloud"/>

        <activity android:label="@string/title_settings" android:name=".activity.settings.AccountSettings" android:theme="@style/Theme.SoundCloud">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.ACCOUNT_PREF"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_notification_settings" android:name=".activity.settings.NotificationSettings" android:theme="@style/Theme.SoundCloud"/>
        <activity android:label="@string/title_about" android:name=".activity.settings.About" android:theme="@style/Theme.SoundCloud"/>
        <activity android:label="@string/title_legal" android:name=".activity.settings.Legal" android:theme="@style/Theme.SoundCloud"/>

        <!-- settings -->

        <activity android:name=".activity.create.EmailPicker" android:theme="@style/Theme.SoundCloud.NoActionBar"/>
        <activity android:name=".activity.create.LocationPicker" android:theme="@style/Theme.SoundCloud.NoActionBar"/>
        <activity android:name=".activity.auth.EmailConfirmationActivity"/>
        <activity android:hardwareAccelerated="false" android:name=".cropimage.CropImageActivity"/>

        <!-- for testing purposes -->
        <activity android:name="com.soundcloud.android.activity.test.ShareSound">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.WebViewActivity" android:theme="@style/Theme.SoundCloud.NoActionBar"/>

        <!-- hockey app -->
        <activity android:name="net.hockeyapp.android.UpdateActivity"/>


        <!-- providers -->
        <provider android:authorities="com.soundcloud.android.provider.ScContentProvider" android:name=".provider.ScContentProvider"/>

        <!-- services -->
        <service android:name=".service.sync.ApiSyncService"/>
        <service android:name=".service.record.SoundRecorderService"/>
        <service android:exported="false" android:name=".service.playback.CloudPlaybackService">

            <intent-filter>
                <action android:name="com.soundcloud.android.playback.start"/>
                <data android:host="com.soundcloud.android.provider.ScContentProvider" android:scheme="content"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.soundcloud.android.playback.start"/>
                <action android:name="com.soundcloud.android.playback.toggleplayback"/>
                <action android:name="com.soundcloud.android.playback.pause"/>
                <action android:name="com.soundcloud.android.playback.next"/>
                <action android:name="com.soundcloud.android.playback.previous"/>
                <action android:name="com.soundcloud.android.playback.close"/>
                <action android:name="com.soundcloud.android.playback.reset"/>
                <action android:name="com.soundcloud.android.playback.stop"/>
                <action android:name="com.soundcloud.android.reloadqueue"/>
                <action android:name="com.soundcloud.android.loadTrackInfo"/>
                <action android:name="com.soundcloud.android.retryRelatedTracks"/>
            </intent-filter>

          <intent-filter>
              <action android:name="com.soundcloud.android.playback.start"/>
              <action android:name="com.soundcloud.android.like.add"/>
              <action android:name="com.soundcloud.android.like.remove"/>
              <action android:name="com.soundcloud.android.repost.add"/>
              <action android:name="com.soundcloud.android.repost.remove"/>
              <data android:host="com.soundcloud.android.provider.ScContentProvider" android:mimeType="vnd.soundcloud.playable/*" android:pathPrefix="" android:scheme="content"/>
          </intent-filter>
        </service>

        <service android:exported="false" android:name=".service.upload.UploadService">
            <intent-filter>
                <action android:name="com.soundcloud.android.actions.upload"/>
                <action android:name="com.soundcloud.android.actions.upload.cancel"/>
            </intent-filter>
        </service>

        <service android:exported="false" android:name=".service.auth.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>

        <service android:exported="false" android:name=".service.sync.SyncAdapterService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync"/>
        </service>

        <!-- receivers -->
        <receiver android:label="SoundCloud Player" android:name=".service.playback.PlayerAppWidgetProvider">
          <intent-filter>
              <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
          </intent-filter>

          <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_player"/>
        </receiver>

        <receiver android:label="SoundCloud Recorder" android:name=".service.record.RecordAppWidgetProvider">

             <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_record"/>
        </receiver>

        <receiver android:name="com.soundcloud.android.analytics.LocalyticsReferralReceiver"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <!-- headphone + remoteclient control -->
        <receiver android:name=".service.playback.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".c2dm.C2DMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.soundcloud.android"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.soundcloud.android"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.soundcloud.android.action.ACCOUNT_ADDED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".provider.ScContentProvider$TrackUnavailableListener">
            <intent-filter>
                <action android:name="com.soundcloud.android.trackunavailable"/>
            </intent-filter>
        </receiver>

        <meta-data android:name="android.app.default_searchable" android:value=".activity.landing.ScSearch"/>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="c7a43c282bb70278c5a054f9cbef26c9c353cdf2"/>
    </application>

</manifest>
