<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:versionCode="524"
    android:versionName="2016.10.25"
    package="com.soundcloud.android">

    <!-- required for Robolectric to use the correct values -->
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" tools:overrideLibrary="me.everything, com.moat.analytics.mobile"/>

    <supports-screens android:anyDensity="true"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22"/>

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- allows non-flash, non-autofocus devices to use app -->
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- allows non-location-enabled devices to use the app -->
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <!--
    TODO: to properly support right to left languages for relative layouts, we need to add a
      android:supportsRtl="true"
    attribute to out application tag. More details at:
      http://android-developers.blogspot.co.uk/2013/03/native-rtl-support-in-android-42.html

    Note also, supportsRtl is only supported in api 17+, so UnusedAttribute needs to be
    ignored until we upgrade to that version.
    -->
    <application
        android:allowBackup="false"
        android:configChanges="orientation|keyboardHidden|keyboard"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@mipmap/ic_round_launcher"
        android:label="@string/app_name"
        android:name="SoundCloudApplication"
        android:theme="@style/Theme.SoundCloud"
        tools:ignore="ManifestResource,UnusedAttribute"
        android:supportsRtl="false">

        <activity android:name=".main.LauncherActivity" android:noHistory="true" android:theme="@style/Theme.SoundCloud.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="android.app.default_searchable" android:value=".search.MainActivity"/>
        <activity android:launchMode="singleTop" android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="${applicationId}.action.STREAM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="${applicationId}.action.DISCOVERY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="${applicationId}.action.COLLECTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="${applicationId}.action.MORE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud/search_item"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.PERFORM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".upgrade.GoOnboardingActivity"
            android:theme="@style/Theme.SoundCloud.TranslucentStatus" />
        <activity
            android:name=".downgrade.GoOffboardingActivity"
            android:theme="@style/Theme.SoundCloud.TranslucentStatus" />
        <activity
            android:name=".offline.OfflineSettingsOnboardingActivity"
            android:noHistory="true"
            android:theme="@style/Theme.SoundCloud.TranslucentStatus" />

        <activity android:name=".search.PlayFromVoiceSearchActivity" android:noHistory="true" android:theme="@style/Theme.SoundCloud.NoActionBar" android:windowSoftInputMode="adjustPan">
            <intent-filter android:priority="1">
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activities -->
        <activity android:name=".deeplinks.ResolveActivity" android:noHistory="true" android:theme="@style/Theme.SoundCloud.NoActionBar" android:windowSoftInputMode="adjustPan">

            <intent-filter android:priority="10" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:scheme="http"/>
            </intent-filter>

            <intent-filter android:priority="10" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:scheme="https"/>
            </intent-filter>

            <intent-filter android:priority="10" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="m.soundcloud.com" android:scheme="http"/>
            </intent-filter>

            <intent-filter android:priority="10" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="m.soundcloud.com" android:scheme="https"/>
            </intent-filter>

            <!-- keep this separate, if combined with above, Android accepts ALL urls -->
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="soundcloud"/>
            </intent-filter>

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="soundcloud"/>
            </intent-filter>

        </activity>

        <activity android:label="@string/side_menu_explore" android:name=".explore.ExploreActivity">
            <intent-filter>
                <action android:name="${applicationId}.action.EXPLORE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".explore.ExploreTracksCategoryActivity"/>

        <activity android:label="@string/side_menu_notifications" android:name=".activities.ActivitiesActivity">
            <intent-filter>
                <action android:name="${applicationId}.action.ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:exported="true" android:label="@string/app_name" android:name=".onboarding.OnboardActivity" android:theme="@style/Theme.ScAuth" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="orientation" android:label="@string/app_name" android:name=".onboarding.auth.RecoverActivity" android:theme="@style/Theme.ScAuth"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:label="@string/age_verify_label" android:name=".profile.VerifyAgeActivity" android:theme="@style/Theme.SoundCloud"/>
        <activity android:label="" android:name=".profile.ProfileActivity" android:theme="@style/Theme.SoundCloud.TransparentStatus">
            <intent-filter>
                <action android:name="${applicationId}.action.USER_BROWSER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud/user"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/user_reposts_label" android:name=".profile.UserRepostsActivity" android:theme="@style/Theme.SoundCloud"/>
        <activity android:label="@string/user_profile_sounds_header_tracks" android:name=".profile.UserTracksActivity" android:theme="@style/Theme.SoundCloud"/>
        <activity android:label="@string/user_albums_label" android:name=".profile.UserAlbumsActivity" android:theme="@style/Theme.SoundCloud"/>
        <activity android:label="@string/user_likes_label" android:name=".profile.UserLikesActivity" android:theme="@style/Theme.SoundCloud"/>
        <activity android:label="@string/user_profile_sounds_header_playlists" android:name=".profile.UserPlaylistsActivity" android:theme="@style/Theme.SoundCloud"/>

        <activity android:label="@string/track_likes_title" android:name=".likes.TrackLikesActivity" android:theme="@style/Theme.SoundCloud" />
        <activity android:label="@string/collections_play_history_header" android:name=".collection.playhistory.PlayHistoryActivity" android:theme="@style/Theme.SoundCloud" />
        <activity android:label="@string/collections_playlists_header" android:name=".collection.playlists.PlaylistsActivity" android:theme="@style/Theme.SoundCloud" />
        <activity android:label="@string/collections_recently_played_header" android:name=".collection.recentlyplayed.RecentlyPlayedActivity" android:theme="@style/Theme.SoundCloud" />

        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name=".creators.record.RecordActivity">
            <intent-filter>
                <action android:name="${applicationId}.action.RECORD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.RECORD_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.RECORD_STOP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.actions.upload.monitor"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- this cannot be a no-history activity for callback purposes-->
        <activity android:label="@string/app_name" android:name=".creators.record.RecordPermissionsActivity" />

        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name=".creators.record.UploadActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="audio/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.SHARE"/>
                <!--<data android:mimeType="audio/*"/>-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/comments" android:name=".comments.TrackCommentsActivity"/>
        <activity android:name=".playlists.PlaylistDetailActivity">
            <intent-filter>
                <action android:name="${applicationId}.action.PLAYLIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud.playable/playlist"/>
            </intent-filter>
        </activity>

        <!-- settings -->
        <activity android:label="@string/title_settings" android:name=".settings.SettingsActivity" android:theme="@style/Theme.SoundCloud.Settings"/>
        <activity android:label="@string/title_offline_settings" android:name=".settings.OfflineSettingsActivity" android:theme="@style/Theme.SoundCloud.Settings"/>
        <activity android:label="@string/title_notification_settings" android:name=".settings.notifications.NotificationPreferencesActivity" android:theme="@style/Theme.SoundCloud.Settings"/>
        <activity android:label="@string/title_about" android:name=".settings.LicensesActivity" android:theme="@style/Theme.SoundCloud.Settings"/>
        <activity android:label="@string/title_legal" android:name=".settings.LegalActivity" android:theme="@style/Theme.SoundCloud.Settings"/>

        <activity android:name=".accounts.LogoutActivity" android:theme="@style/Theme.SoundCloud.NoActionBar"/>
        <activity android:hardwareAccelerated="false" android:name=".crop.CropImageActivity"/>

        <!-- payments -->
        <activity android:name=".payments.LegacyConversionActivity" android:theme="@style/Theme.SoundCloud.Conversion" />
        <activity android:name=".payments.NativeConversionActivity" android:theme="@style/Theme.SoundCloud.Conversion" />
        <activity android:name=".payments.TieredConversionActivity" android:theme="@style/Theme.SoundCloud.TranslucentStatus" />
        <activity android:name=".payments.PlanChoiceActivity" android:theme="@style/Theme.SoundCloud.TranslucentStatus" />
        <activity android:label="@string/conversion_page_title" android:name=".payments.WebCheckoutActivity" android:configChanges="orientation|screenSize" android:windowSoftInputMode="adjustResize" />

        <!-- discovery -->
        <activity android:label="@string/activity_title_view_all_recommendations" android:name=".discovery.recommendations.ViewAllRecommendedTracksActivity"/>
        <activity android:name=".discovery.charts.ChartActivity"/>
        <activity android:label="@string/all_genres" android:name=".discovery.charts.AllGenresActivity"/>
        <activity android:windowSoftInputMode="stateAlwaysHidden" android:name=".discovery.SearchActivity" android:theme="@style/Theme.SoundCloud.Translucent"/>
        <activity android:name=".search.SearchPremiumResultsActivity"/>
        <activity android:label="@string/discovery_search_title" android:name=".discovery.PlaylistDiscoveryActivity"/>

        <!-- stations -->
        <activity android:label="@string/stations_collection_title_station_page" android:name=".stations.StationInfoActivity" />
        <activity android:label="@string/stations_collection_title_liked_stations" android:name=".stations.LikedStationsActivity" />

        <!-- for testing purposes -->
        <activity android:name=".main.WebViewActivity" android:theme="@style/Theme.SoundCloud.NoActionBar"/>

        <!-- Appboy web links -->
        <activity android:name="com.appboy.ui.AppboyWebViewActivity" android:theme="@style/Theme.SoundCloud.NoActionBar" />

        <!-- providers -->
        <provider android:authorities="${applicationId}.provider.ScContentProvider" android:exported="false"
            android:name=".storage.provider.ScContentProvider"/>

        <!-- services -->
        <service android:name=".sync.ApiSyncService"/>
        <service android:name=".creators.record.SoundRecorderService"/>

        <service android:exported="false" android:name=".playback.PlaybackService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service android:exported="false" android:name=".offline.OfflineContentService"/>
        <service android:exported="false" android:name=".policies.DailyUpdateService"/>

        <service android:exported="false" android:name=".creators.upload.UploadService">
            <intent-filter>
                <action android:name="${applicationId}.actions.upload"/>
                <action android:name="${applicationId}.actions.upload.cancel"/>
            </intent-filter>
        </service>

        <service android:exported="false" android:name=".onboarding.auth.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>

        <service android:exported="false" android:name=".sync.SyncAdapterService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync"/>
        </service>

        <!-- receivers -->
        <receiver android:name=".playback.external.PlaybackActionReceiver">
            <intent-filter>
                <action android:name="${applicationId}.playback.external.toggleplayback"/>
                <action android:name="${applicationId}.playback.external.play"/>
                <action android:name="${applicationId}.playback.external.pause"/>
                <action android:name="${applicationId}.playback.external.previous"/>
                <action android:name="${applicationId}.playback.external.next"/>
                <action android:name="${applicationId}.playback.external.close"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".offline.AlarmManagerReceiver"/>

        <receiver android:label="SoundCloud Player" android:name=".playback.service.PlayerAppWidgetProvider">
          <intent-filter>
              <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
          </intent-filter>

          <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_player"/>
        </receiver>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:label="SoundCloud Recorder" android:name=".creators.record.RecordAppWidgetProvider">

             <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_record"/>
        </receiver>

        <receiver android:enabled="true" android:exported="true" android:name="com.adjust.sdk.AdjustReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".playback.widget.PlayerWidgetReceiver">
            <intent-filter>
                <action android:name="${applicationId}.widgetLike"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.appboy.AppboyGcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver android:name=".gcm.AppboyBroadcastReceiver" android:exported="false" >
            <intent-filter>
                <action android:name="${applicationId}.intent.APPBOY_PUSH_RECEIVED" />
                <action android:name="${applicationId}.intent.APPBOY_NOTIFICATION_OPENED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.ScFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".gcm.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.GcmRegistrationService"
            android:exported="false">
        </service>

        <!-- Google Cast Companion -->
        <meta-data android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
                   android:value="com.soundcloud.android.cast.CastOptionsProvider"/>

        <activity android:name=".cast.CastRedirectActivity"/>

        <!-- Crashlytics -->
        <meta-data android:name="com.crashlytics.ApiKey" android:value="c7a43c282bb70278c5a054f9cbef26c9c353cdf2"/>

        <!-- Facebook -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/production_facebook_app_id"/>

    </application>

</manifest>
