<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:versionCode="270"
    android:versionName="15.09.14"
    package="com.soundcloud.android">

    <!-- required for Robolectric to use the correct values -->
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" tools:ignore="GradleOverrides"/>

    <supports-screens android:anyDensity="true"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- needed for pre 2.2: automatic call muting -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    
    <!-- allows non-flash, non-autofocus devices to use app -->
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- allows non-flash, non-location enabled devices to use the app -->
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <!-- c2dm -->
    <permission android:name="com.soundcloud.android.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.soundcloud.android.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!--
    TODO: to properly support right to left languages for relative layouts, we need to add a
      android:supportsRtl="true"
    attribute to out application tag. More details at:
      http://android-developers.blogspot.co.uk/2013/03/native-rtl-support-in-android-42.html

    Note also, supportsRtl is only supported in api 17+, so UnusedAttribute needs to be
    ignored until we upgrade to that version.
    -->
    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|keyboard"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="SoundCloudApplication"
        android:theme="@style/Theme.SoundCloud"
        tools:ignore="UnusedAttribute"
        android:supportsRtl="false"
        >

        <meta-data android:name="LOCALYTICS_NOTIFICATION_ICON" android:value="@drawable/ic_notification_localytics"/>

        <activity android:name=".main.LauncherActivity" android:noHistory="true" android:theme="@style/Theme.SoundCloud.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/side_menu_stream" android:launchMode="singleTop" android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.STREAM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.EXPLORE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.LIKES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".search.PlayFromVoiceSearchActivity" android:noHistory="true" android:theme="@style/Theme.SoundCloud.NoActionBar" android:windowSoftInputMode="adjustPan">
            <intent-filter android:priority="1">
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- activities -->
        <activity android:name=".deeplinks.ResolveActivity" android:noHistory="true" android:theme="@style/Theme.SoundCloud.NoActionBar" android:windowSoftInputMode="adjustPan">

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:scheme="http"/>
            </intent-filter>

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="soundcloud.com" android:scheme="https"/>
            </intent-filter>

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="snd.sc" android:scheme="http"/>
            </intent-filter>

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="snd.sc" android:scheme="https"/>
            </intent-filter>

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="m.soundcloud.com" android:scheme="http"/>
            </intent-filter>

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="m.soundcloud.com" android:scheme="https"/>
            </intent-filter>

            <!-- keep this separate, if combined with above, Android accepts ALL urls -->
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="soundcloud"/>
            </intent-filter>

            <intent-filter android:priority="10">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="soundcloud"/>
            </intent-filter>

        </activity>

        <activity android:label="@string/title_search" android:name=".search.SearchActivity">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud/search_item"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.PERFORM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <meta-data android:name="android.app.default_searchable" android:value=".search.CombinedSearchActivity"/>

        <activity android:name=".explore.ExploreTracksCategoryActivity"/>

        <activity android:label="@string/side_menu_activity" android:name=".activities.ActivitiesActivity">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:label="" android:name=".profile.MeActivity" android:theme="@style/Theme.SoundCloud.NoBg">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOU"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_INFO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_SOUNDS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_FOLLOWERS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_FOLLOWINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.YOUR_LIKES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- new suggested users -->
        <activity android:label="" android:name=".onboarding.suggestions.SuggestedUsersActivity" android:theme="@style/Theme.Onboard"/>
        <activity android:label="" android:name=".onboarding.suggestions.SuggestedUsersCategoryActivity" android:theme="@style/Theme.Onboard"/>
        <activity android:label="" android:name=".onboarding.suggestions.SuggestedUsersSyncActivity" android:theme="@style/Theme.Onboard"/>

        <!-- old suggested users -->
        <activity android:label="@string/side_menu_who_to_follow" android:name=".associations.WhoToFollowActivity">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.WHO_TO_FOLLOW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity android:exported="true" android:label="@string/app_name" android:name=".onboarding.OnboardActivity" android:theme="@style/Theme.ScAuth" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="orientation" android:label="@string/app_name" android:name=".onboarding.auth.RecoverActivity" android:theme="@style/Theme.ScAuth"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:label="@string/age_verify_label" android:name=".profile.VerifyAgeActivity" android:theme="@style/Theme.SoundCloud"/>
        <activity android:label="" android:name=".profile.LegacyProfileActivity" android:theme="@style/Theme.SoundCloud.NoBg">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.USER_BROWSER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud/user"/>
            </intent-filter>
        </activity>

        <activity android:label="" android:name=".profile.ProfileActivity" android:theme="@style/Theme.SoundCloud" />

        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name=".creators.record.RecordActivity">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.RECORD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.RECORD_START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.action.RECORD_STOP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.actions.upload.monitor"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name=".creators.record.UploadActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="audio/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.soundcloud.android.SHARE"/>
                <!--<data android:mimeType="audio/*"/>-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/comments" android:name=".comments.TrackCommentsActivity"/>
        <activity android:name=".playlists.PlaylistDetailActivity">
            <intent-filter>
                <action android:name="com.soundcloud.android.action.PLAYLIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="vnd.soundcloud.playable/playlist"/>
            </intent-filter>
        </activity>

        <!-- settings -->
        <activity android:label="@string/title_settings" android:name=".settings.SettingsActivity" android:theme="@style/Theme.SoundCloud.Settings"/>
        <activity android:label="@string/title_offline_settings" android:name=".settings.OfflineSettingsActivity" android:theme="@style/Theme.SoundCloud.Settings"/>
        <activity android:label="@string/title_notification_settings" android:name=".settings.NotificationSettingsActivity" android:theme="@style/Theme.SoundCloud.Settings"/>
        <activity android:label="@string/title_about" android:name=".settings.LicensesActivity" android:theme="@style/Theme.SoundCloud.Settings"/>
        <activity android:label="@string/title_legal" android:name=".settings.LegalActivity" android:theme="@style/Theme.SoundCloud.Settings"/>

        <activity android:name=".accounts.LogoutActivity" android:theme="@style/Theme.SoundCloud.NoActionBar"/>
        <activity android:hardwareAccelerated="false" android:name=".crop.CropImageActivity"/>

        <!-- payments -->
        <activity android:label="@string/upgrade_page_title" android:name=".payments.UpgradeActivity"/>

        <!-- recommendations -->
        <activity android:label="@string/activity_title_recommendations" android:name=".discovery.RecommendedTracksActivity"/>

        <!-- stations -->
        <activity android:name=".stations.ShowAllStationsActivity" />

        <!-- for testing purposes -->
        <activity android:name=".main.WebViewActivity" android:theme="@style/Theme.SoundCloud.NoActionBar"/>

        <!-- providers -->
        <provider android:authorities="com.soundcloud.android.provider.ScContentProvider" android:exported="false" android:name=".storage.provider.ScContentProvider"/>

        <!-- services -->
        <service android:name=".sync.ApiSyncService"/>
        <service android:name=".creators.record.SoundRecorderService"/>
        <service android:exported="false" android:name=".playback.PlaybackService"/>
        <service android:exported="false" android:name=".offline.OfflineContentService"/>

        <service android:exported="false" android:name=".creators.upload.UploadService">
            <intent-filter>
                <action android:name="com.soundcloud.android.actions.upload"/>
                <action android:name="com.soundcloud.android.actions.upload.cancel"/>
            </intent-filter>
        </service>

        <service android:exported="false" android:name=".onboarding.auth.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>

        <service android:exported="false" android:name=".sync.SyncAdapterService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync"/>
        </service>

        <!-- receivers -->
        <receiver android:name=".playback.external.PlaybackActionReceiver">
            <intent-filter>
                <action android:name="com.soundcloud.android.playback.external.toggleplayback"/>
                <action android:name="com.soundcloud.android.playback.external.play"/>
                <action android:name="com.soundcloud.android.playback.external.pause"/>
                <action android:name="com.soundcloud.android.playback.external.previous"/>
                <action android:name="com.soundcloud.android.playback.external.next"/>
                <action android:name="com.soundcloud.android.playback.external.close"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".offline.OfflineContentStartReceiver"/>

        <receiver android:label="SoundCloud Player" android:name=".playback.service.PlayerAppWidgetProvider">
          <intent-filter>
              <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
          </intent-filter>

          <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_player"/>
        </receiver>

        <receiver android:label="SoundCloud Recorder" android:name=".creators.record.RecordAppWidgetProvider">

             <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_record"/>
        </receiver>

        <receiver android:enabled="true" android:exported="true" android:name=".analytics.InstallReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".playback.widget.PlayerWidgetReceiver">
            <intent-filter>
                <action android:name="com.soundcloud.android.widgetLike"/>
            </intent-filter>
        </receiver>


        <!-- headphone + remoteclient control -->
        <receiver android:name=".playback.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <!-- GCM -->
        <receiver android:name=".gcm.GcmMessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.soundcloud.android"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.soundcloud.android.gcm.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="com.soundcloud.android.gcm.GcmRegistrationService"
            android:exported="false">
        </service>

        <!-- Google Cast Companion -->
        <receiver android:name="com.google.android.libraries.cast.companionlibrary.remotecontrol.VideoIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.toggleplayback"/>
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.stop"/>
            </intent-filter>
        </receiver>

        <service android:exported="false" android:name="com.google.android.libraries.cast.companionlibrary.notification.VideoCastNotificationService">
            <intent-filter>
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.toggleplayback"/>
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.stop"/>
                <action android:name="com.google.android.libraries.cast.companionlibrary.action.notificationvisibility"/>
            </intent-filter>
        </service>

        <service android:name="com.google.android.libraries.cast.companionlibrary.cast.reconnection.ReconnectionService"/>

        <meta-data android:name="LOCALYTICS_APP_KEY" android:value="@string/localytics_app_key"/>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="c7a43c282bb70278c5a054f9cbef26c9c353cdf2"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

        <meta-data android:name="AdjustAppToken" android:value="87l2rj9gqhlj"/>
        <meta-data android:name="AdjustLogLevel" android:value="@string/adjust_log_level"/>
        <meta-data android:name="AdjustEnvironment" android:value="@string/adjust_environment"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/production_facebook_app_id"/>

    </application>

</manifest>
