html, body, form, fieldset { margin: 0; padding: 0; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; line-height: 1.3em; font-size: 11px; color: #333333; }

h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address { margin: 0 0 1em 0; padding: 0; font-style: normal; font-weight: normal; }

h2, h3, h4 { font-weight: light; }

li, dd, blockquote { margin-left: 0; }

img { display: block; border: 0; }

body { background-color: white; }

a { color: #0066cc; text-decoration: none; outline: 0; cursor: pointer; }
a:hover { color: #ff5500; }

h1 { color: #0066cc; font-size: 28px; margin: 0px 0 0.3em 0; line-height: 1.2em; }

h2 { font-size: 24px; margin-bottom: 10px; margin-top: 5px; line-height: 1.2; }

h3 { font-size: 18px; line-height: 1.3em; margin: 0 0 0.3em 0; padding: 0 0 0 0; }
h3 span { display: block; font-size: 15px; color: #666666; }

h4 { font-size: 15px; line-height: 1.3em; font-weight: normal; margin: 0 0 0.2em 0; padding: 0 0 0 0; }

.hidden { display: none; }

.aural { display: block; position: absolute; left: -9999px; top: 0; height: 1px; width: 100px; overflow: hidden; }

#main { padding: 0px 10px 0px 10px; }
#main p { margin-bottom: 12px; }
#main .form-group.buttons { margin: 0 -10px 15px 0; }
#main .additional a { width: 50%; display: block; float: left; }
#main .additional a.member { text-align: right; }
#main ul.user-list-small { margin: 13px 0 8px 30px; }

.hint { display: none; text-align: center; margin: 5px 0 !important; padding: 7px 10px 1px 10px; background-color: #eef6ff; -webkit-border-radius: 7px; }

ul.tabs { margin: 0 0px 15px 0px; border-bottom: 1px #cccccc solid; }
ul.tabs li { list-style: none; float: left; margin: 0 0 -1px 0; }
ul.tabs li a, ul.tabs li span { padding: 0px 8px; margin: 7px 0 7px 0; color: #333333; font-size: 15px; display: block; line-height: 1em; border-right: 1px #cccccc solid; text-align: center; }
ul.tabs li a:hover, ul.tabs li span:hover { color: #ff5500; }
ul.tabs li.last a, ul.tabs li.last span { border-right: 0; }
ul.tabs li.current a, ul.tabs li.current span { color: #ff5500; position: relative; padding: 6px 9px 7px 9px; left: -1px; margin: 0 0 0 0; border: 1px #cccccc solid; -moz-border-radius-topright: 7px; border-top-right-radius: 7px; -webkit-border-top-right-radius: 7px; -moz-border-radius-topleft: 7px; border-top-left-radius: 7px; -webkit-border-top-left-radius: 7px; border-bottom: 1px solid white; background: white; }
ul.tabs li.current.last a, ul.tabs li.current.last span { left: -2px; }
ul.tabs li.current.first a { left: 0; }
ul.tabs .disabled a { color: #999999 !important; cursor: default !important; }

#tabs { overflow: hidden; margin: 0 0 0px 0; }

#tabs, #user-tabs, ul.sub-tabs { zoom: 1; }
#tabs:after, #user-tabs:after, ul.sub-tabs:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

fieldset { border: none; }

input, textarea, select { display: block; font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: #333333; background-color: #f4f4f4; border: 1px solid; border-color: #cccccc; font-size: 15px; padding: 3px 0px 3px 3px; margin: 0 0 0.3em 0; -webkit-border-bottom-right-radius: 7px; -webkit-border-top-left-radius: 7px; -webkit-border-bottom-left-radius: 0px; -webkit-border-top-right-radius: 0px; }
input:focus, input:hover, textarea:focus, textarea:hover, select:focus, select:hover { background-color: #eef6ff; }
input.title, textarea.title, select.title { font-size: 18px; }

input:hover, label:hover, input[type=checkbox]:hover, input[type=submit]:hover, button:hover { cursor: pointer; }

input { width: auto; }

input[type=text], textarea, input[type=search], input[type=password] { width: 100%; }

input[type=image] { margin: 0; padding: 0; border: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

input[type=checkbox], input[type=radio] { border: 0px; background: none; }

input[type=checkbox] { width: 18px; height: 18px; }

input[type=hidden] { display: none !important; }

input.big { border: 1px solid white; border-color: #cccccc; font-size: 21px; background-color: #d9d9d9; font-size: 21px; margin: 0 0 0 0; width: auto; color: #333333; padding: 5px 25px 7px 25px; -webkit-border-radius: 16px; float: left; -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1); }
input.big:hover, input.big.hover { color: #0066cc; -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15); background-position: 0px -284px; }
input.big.cancel { margin-right: 10px; width: 105px; }
input.big.submit { width: 202px; }

input.default, a.user-action, a.link-button { border: 1px #cccccc solid; font-size: 12px; background-color: #d9d9d9; background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#d9d9d9)) repeat-x, #d9d9d9; background: -moz-linear-gradient(90deg, #d9d9d9, white) repeat-x scroll 0 0 #d9d9d9; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#d9d9d9'); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#d9d9d9')"; zoom: 1; margin: 0 0 0 0; width: auto; color: #333333; padding: 2px 14px 2px 14px; border-radius: 14px; -webkit-border-radius: 14px; -moz-border-radius: 14px; }
input.default:hover, input.default.hover, a.user-action:hover, a.user-action.hover, a.link-button:hover, a.link-button.hover { border: 1px solid; border-color: #cccccc; color: #0066cc; background-color: #f2f2f2; background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9d9d9), to(white)) repeat-x, #f2f2f2; background: -moz-linear-gradient(90deg, white, #d9d9d9) repeat-x scroll 0 0 #f2f2f2; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='white'); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='white')"; zoom: 1; }

textarea { width: 100%; height: 100px; font-size: 12px; margin-bottom: 10px; }

select { padding: 2px 6px 2px 6px; }

label { margin: 0 0 2px 0; display: block; color: #333333; }
label.disabled { color: #d9d9d9; }

.form-group { margin: 0 0 10px 0; }
.form-group div { float: left; margin: 0 12px 0 0; display: inline; }

.checkbox, .radiobutton { margin: 0 0 0 0; position: relative; }
.checkbox input, .radiobutton input { float: left; background: transparent; border: 0px; padding: 0px; margin: 1px 6px 0 0px; }
.checkbox label, .radiobutton label { margin: 0 0 0 0; float: left; cursor: pointer; }
.checkbox label.error, .radiobutton label.error { position: absolute; top: 1.5em; }

label.error { color: #ff6600; margin: -3px 0 0 0 !important; }

input.error, input.error.valid { background-image: url(images/input_feedback.png); background-position: 102% -327px; background-repeat: no-repeat; border-color: #ff6600; }

input.valid { background-image: url(images/input_feedback.png); background-position: 100.5% -2px; background-repeat: no-repeat; border: 1px solid #119304; }

.form-buttons { padding: 4px 0 0 0; }
.form-buttons.native-editing { padding: 4px 6px 4px 8px; position: relative; z-index: 500; background: white; margin-top: 5px; }
.form-buttons.native-editing a.cancel { font-size: 12px; line-height: 1.4em; float: right; }

.form-buttons a, .editable.active a { outline: 0; float: right; margin: 7px 10px 0px 0px; color: #666666; }
.form-buttons a:hover, .editable.active a:hover { cursor: pointer; text-decoration: underline; }
.form-buttons input, .form-buttons a.user-action, .form-buttons a.link-button, .editable.active input, .editable.active a.user-action, .editable.active a.link-button { float: right; color: #333333 !important; margin: 0px 0 0 0px; }
.form-buttons input:hover, .form-buttons a.user-action:hover, .form-buttons a.link-button:hover, .editable.active input:hover, .editable.active a.user-action:hover, .editable.active a.link-button:hover { text-decoration: none; }

.form-buttons-big input { width: 220px; float: right; }
.form-buttons-big a.cancel { float: right; color: #666666; font-size: 21px; padding: 9px 25px 10px 0; outline: 0; cursor: pointer; }

.form-group { zoom: 1; }
.form-group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.connect-facebook { overflow: hidden; }
.connect-facebook .submit { float: left; }
.connect-facebook img { float: left; }
.connect-facebook small { font-size: 10px; float: left; margin: 1px 0 0 8px; width: 130px; text-align: left; line-height: 1.1em !important; color: #999999; }
.connect-facebook small a { font-size: 10px !important; display: inline !important; text-align: left; color: #999999 !important; border: 0 !important; padding: 0 !important; margin: 0 !important; }

ul.user-list-small { margin: 0 auto; }
ul.user-list-small li { display: block; height: 47px; margin: 0 10px 1px 0; color: white; width: 250px; float: left; -webkit-border-bottom-right-radius: 10px; -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1); background-color: #f2f2f2; }
ul.user-list-small li .user-image-badge { background-image: url(images/default_avatar_badge.png); display: block; width: 47px; height: 47px; border-right: 1px solid white; float: left; text-indent: -9999px; }
ul.user-list-small li .user-info { padding: 0 0 0 4px; width: 187px; display: block; float: left; position: relative; height: 48px; }
ul.user-list-small li .user-info .private { color: #ff6600; }
ul.user-list-small li .user-info .user-realname { font-size: 10px; display: block; margin: 3px 0 0 0; padding: 0; color: #666666; width: 138px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
ul.user-list-small li .user-info .user-link { display: block; font-size: 18px; line-height: 1em; text-decoration: none; margin: 15px 0 0 0; height: 32px; position: absolute; top: 0px; padding: 0 0 0 0; z-index: 2; width: 190px; white-space: nowrap; overflow: hidden; outline: 0; }
ul.user-list-small li .user-info .public-songs-info { color: #333333; font-size: 10px; position: absolute; bottom: 2px; z-index: 1; white-space: nowrap; }

body.w-fire { overflow: hidden; height: 360px; background-image: url(images/header-repeat.png); background-repeat: repeat-x; }
body.w-fire .promo-code-voucher { margin: 10px 0 0 0px; text-align: center; background-image: url(images/promo-code.png); background-repeat: no-repeat; width: 250px; padding: 20px 25px 25px 25px; height: 285px; display: block; }
body.w-fire .promo-code-voucher h2 { color: #0066cc; }
body.w-fire .promo-code-voucher .code { margin: 30px 0 20px 0; display: block; font-size: 35px; }
body.w-fire .promo-code-voucher .intro { font-size: 17px; line-height: 1.3em; }
body.w-fire .promo-code-voucher span { color: #333333; }
body.w-fire .promo-code-voucher img { float: left; margin: 20px 0 0 38px; }
body.w-fire .promo-code-voucher img.sc { margin-top: 25px; }

body { padding: 0px; overflow: hidden; }

#edit-url.loading { background-image: url(images/spinner.gif) !important; background-position: top right !important; background-repeat: no-repeat !important; background-color: white !important; }

.loading { background-image: url(images/throbber_repeat.png) !important; background-position: 0 0 !important; background-repeat: repeat !important; background-color: #d9d9d9 !important; }
.frame0 .loading { background-position: 0px 0px !important; }
.frame1 .loading { background-position: 1px 0 !important; }
.frame2 .loading { background-position: 2px 0 !important; }
.frame3 .loading { background-position: 3px 0 !important; }
.frame4 .loading { background-position: 4px 0 !important; }
.frame5 .loading { background-position: 5px 0 !important; }
.frame6 .loading { background-position: 6px 0 !important; }
.frame7 .loading { background-position: 7px 0 !important; }
.frame8 .loading { background-position: 8px 0 !important; }
.frame9 .loading { background-position: 9px 0 !important; }
.frame10 .loading { background-position: 10px 0 !important; }
.frame11 .loading { background-position: 11px 0 !important; }
.frame12 .loading { background-position: 12px 0 !important; }
.frame13 .loading { background-position: 13px 0 !important; }
.frame14 .loading { background-position: 14px 0 !important; }
.frame15 .loading { background-position: 15px 0 !important; }
.frame16 .loading { background-position: 16px 0 !important; }

#timestamped-comment-template input.loading { background-color: #333333 !important; }

.groups-list.action-overlay a.lazy.loading, .sets-list.action-overlay a.lazy.loading, .share-code.action-overlay a.lazy.loading { display: block; height: 20px; text-indent: -9999px; background-color: transparent !important; background-image: url(images/spinner.gif) !important; background-repeat: no-repeat !important; background-position: 50% 50% !important; }

ul#overview-list.loading { margin-top: 40px; height: 35px; background-color: white !important; background-image: url(images/spinner_bigger.gif) !important; background-repeat: no-repeat !important; background-position: 50% 50% !important; }

body#oauth.mobile.iphone #main { width: 280px; }

#oauth, #oauth2_authorization { text-align: center; }
#oauth h1, #oauth2_authorization h1 { display: block; background-color: #888888; background-image: url(images/iphone/logo.png); background-repeat: no-repeat; background-position: 10px 2px; color: white; font-size: 11px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; text-align: left; margin: 0px 0px 7px -10px; padding: 2px 10px 2px 45px; -webkit-border-bottom-right-radius: 10px; }
#oauth .authorize-text, #oauth2_authorization .authorize-text { font-size: 15px; line-height: 1.2em; }
#oauth .authorize-token, #oauth2_authorization .authorize-token { margin: 0px auto 0px auto !important; }
#oauth .authorize-token p, #oauth2_authorization .authorize-token p { text-align: left; }
#oauth .authorize-token .oauth-form, #oauth2_authorization .authorize-token .oauth-form { text-align: left; margin: 7px auto 7px auto; }
#oauth .authorize-token .oauth-form .form-group input, #oauth2_authorization .authorize-token .oauth-form .form-group input { width: 100%; }
#oauth .authorize-token .oauth-form .form-group, #oauth2_authorization .authorize-token .oauth-form .form-group { margin-bottom: 0px; }
#oauth .authorize-token .oauth-form h3, #oauth2_authorization .authorize-token .oauth-form h3 { margin-bottom: 2px; }
#oauth .authorize-token .oauth-form h3 a, #oauth2_authorization .authorize-token .oauth-form h3 a { font-size: 12px; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; margin-left: 2px; }
#oauth .authorize-token .form-buttons-big, #oauth2_authorization .authorize-token .form-buttons-big { zoom: 1; }
#oauth .authorize-token .form-buttons-big:after, #oauth2_authorization .authorize-token .form-buttons-big:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#oauth .authorize-token .form-buttons-big a.cancel, #oauth2_authorization .authorize-token .form-buttons-big a.cancel { padding-right: 10px; font-size: 19px; }
#oauth .authorize-token .form-buttons-big input, #oauth2_authorization .authorize-token .form-buttons-big input { width: auto; font-size: 19px; padding: 4px 15px 5px 15px; }
#oauth .authorize-token .form-group .width_1_2, #oauth2_authorization .authorize-token .form-group .width_1_2 { width: 145px; margin-right: 10px; }
#oauth .authorize-token .form-group .width_1_2.last, #oauth2_authorization .authorize-token .form-group .width_1_2.last { margin-right: 0; }
#oauth #flash-notice, #oauth2_authorization #flash-notice { font-weight: bold; color: #ff6600; padding-top: 10px; font-size: 12px; }
#oauth .logged-in-as, #oauth2_authorization .logged-in-as { line-height: 1.5em; margin: 20px 0; text-align: left; }
#oauth .logged-in, #oauth2_authorization .logged-in { background-repeat: no-repeat; background-image: url(images/iphone/sc-connect.png); background-color: transparent; background-position: 60px 0px; -webkit-border-radius: 0px; padding: 45px 0 0 0; position: relative; margin: 10px auto 10px auto !important; font-size: 11px; }
#oauth .logged-in p.web, #oauth2_authorization .logged-in p.web { display: none; }
#oauth .logged-in p.iphone, #oauth2_authorization .logged-in p.iphone { background: #eef6ff; padding: 5px 4px; display: block; margin-bottom: 7px; -webkit-border-radius: 7px; }
#oauth .logged-in img, #oauth2_authorization .logged-in img { position: absolute; top: 4px; left: 64px; width: 30px; height: 30px; }
#oauth .logged-in img.app, #oauth2_authorization .logged-in img.app { left: 180px; }

.oauth-form .form-group { text-align: left; margin-bottom: 0 !important; }
.oauth-form .form-group input { font-size: 15px; margin-bottom: 7px; padding: 2px; }

#oauth.full-width #main-wrapper-inner { text-align: center; }

.checkbox { zoom: 1; }
.checkbox input { margin: 0 4px 0 0; }
.checkbox:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.verify-token { text-align: left; padding: 10px; width: 280px; margin: 15px auto 15px auto; background-color: #eef6ff; -webkit-border-radius: 7px; -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1); }
.verify-token input { margin: 7px 0 0 0; font-size: 35px; width: 100%; }
