<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soundcloud.android">
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Leak canary needs access to External storage to save heap dumps -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application tools:ignore="AllowBackup">

        <!-- Disabled due to a bug causing an ANR: https://groups.google.com/forum/#!topic/firebase-talk/Z4vqS1Ml3N4 -->
        <service
            android:name=".gcm.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter tools:node="remove">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Internal (not exported) receiver used by the app to start its own exported services without risk of being spoofed.-->
        <!-- Disabled due to a bug causing an ANR: https://groups.google.com/forum/#!topic/firebase-talk/Z4vqS1Ml3N4 -->
        <receiver tools:node="remove"
            android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"
            android:exported="false" />

        <!-- FirebaseInstanceIdService performs security checks at runtime, no need for explicit permissions despite exported="true" -->
        <!-- Disabled due to a bug causing an ANR: https://groups.google.com/forum/#!topic/firebase-talk/Z4vqS1Ml3N4 -->
        <service tools:ignore="ExportedService"
            android:name="com.google.firebase.iid.FirebaseInstanceIdService"
            android:exported="true" >
            <intent-filter android:priority="-500" tools:node="remove">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>
