<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="189" android:versionName="15.03.12" package="com.soundcloud.android.tests">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application>
        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:label="Tests" android:name="com.soundcloud.android.framework.runner.RandomizingRunner" android:targetPackage="com.soundcloud.android"/>
</manifest>